<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Face detection on the browser using javascript !</title>
  <script defer src="face-api.min.js"></script>
  <script defer src="mark-attendance.js"></script>
  <link rel="stylesheet" href="mark.css">
</head>
<body>
  <button id="homeButton">Home</button>
  <video id="video" width="600" height="450" autoplay></video>

  <script>
    // Get the home button element
    const homeButton = document.getElementById('homeButton');

    // Add click event listener to the home button
    homeButton.addEventListener('click', function() {
      // Stop the video stream
      const video = document.getElementById('video');
      const stream = video.srcObject;
      const tracks = stream.getTracks();

      tracks.forEach(function(track) {
        track.stop();
      });

      // Redirect to the login page
      window.location.href = 'login';
    });
  </script>
</body>
</html>
